body{
	background: url(../recursos/ya-fondo.png);
}
:root{
	--colorRosa: rgb(255, 0, 102);
	--colorinfo: #F9BB16;
}
/*----------------------------------------*/
/*------------------ NAV -----------------*/
/*----------------------------------------*/
.NAV1{
	background: var(--colorRosa);
	position: fixed;
	display: flex;
	width: 100%;
	height: 50px;
	z-index: 1000;
}
.NAV1__logo{
	margin: auto 10px auto 5px;
	height: 40px;
	flex-basis: 90px;
}
.NAV1__logo img{
	width: 100%;
	height: 100%;
}
.NAV1__ul{
	display: flex;
	list-style: none;
}
.NAV1__ul__li{
	margin: auto 10px auto 10px;
}
.NAV1__ul__li a{
	text-decoration: none;
	font-size: 18px;
	color: rgb(255, 255, 255);
	font-family: Footlight MT Light;
	transition: color 0.5s;
}
.NAV1__ul__li a:hover{
	color: rgb(50, 50, 50);
}
.NAV1__align{
	margin: auto 10px auto auto;
	height: 35px;
	flex-basis: 40px;
}
.NAV1__align__contenedor{
	height: 100%;
	width: 100%;
}
.NAV1__align__contenedor img{
	height: 100%;
	width: 100%;
}
/*----------------------------------------*/
/*-------------- FIN NAV -----------------*/
/*----------------------------------------*/
.cont1{
	display: flex;
	padding: 100px 5% 400px 5%;
	flex-direction: column;
}
.cont1__opciones1{
	user-select: none;
	margin: 5px 0px 5px 0px;
	width: 100%;
	height: 86px;
	background: var(--colorRosa);
	border: rgb(0, 0, 0) 3px solid;
	border-radius: 7px;
	transition: height 1s;
}
.cont1__opciones__inf{
	display: flex;
	height: 314px;
	justify-content: center;
	align-items: center;
	color: rgb(255, 255, 255);
	font-size: 20px;
	z-index: 200;
}
.cont1__opciones__desplegar1{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: auto;
	color: #04040C;
	background: linear-gradient(to bottom, rgb(255, 255, 255) ,var(--colorRosa));
	height: 80px;
	font-size: 40px;
	font-family: Tiza, Viner Hand ITC;
	font-weight: bold;
	cursor: pointer;
	z-index: 500;
}
.cont1__opciones2{
	user-select: none;
	margin: 5px 0px 5px 0px;
	width: 100%;
	height: 86px;
	background: var(--colorRosa);
	border: rgb(0, 0, 0) 3px solid;
	border-radius: 7px;
	transition: height 1s;
}
.cont1__opciones__desplegar2{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: auto;
	color: #04040C;
	background: linear-gradient(to bottom, rgb(255, 255, 255) ,var(--colorRosa));
	height: 80px;
	font-size: 40px;
	font-family: Tiza, Viner Hand ITC;
	font-weight: bold;
	cursor: pointer;
	z-index: 500;
}
.cont1__opciones3{
	user-select: none;
	margin: 5px 0px 5px 0px;
	width: 100%;
	height: 86px;
	background: var(--colorRosa);
	border: rgb(0, 0, 0) 3px solid;
	border-radius: 7px;
	transition: height 1s;
}
.cont1__opciones__desplegar3{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: auto;
	color: #04040C;
	background: linear-gradient(to bottom, rgb(255, 255, 255) ,var(--colorRosa));
	height: 80px;
	font-size: 40px;
	font-family: Tiza, Viner Hand ITC;
	font-weight: bold;
	cursor: pointer;
	z-index: 500;
}
.cont1__opciones4{
	user-select: none;
	margin: 5px 0px 5px 0px;
	width: 100%;
	height: 86px;
	background: var(--colorRosa);
	border: rgb(0, 0, 0) 3px solid;
	border-radius: 7px;
	transition: height 1s;
}
.cont1__opciones__desplegar4{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: auto;
	color: #04040C;
	background: linear-gradient(to bottom, rgb(255, 255, 255) ,var(--colorRosa));
	height: 80px;
	font-size: 40px;
	font-family: Tiza, Viner Hand ITC;
	font-weight: bold;
	cursor: pointer;
	z-index: 500;
}
.cont1__opciones5{
	user-select: none;
	margin: 5px 0px 5px 0px;
	width: 100%;
	height: 86px;
	background: var(--colorRosa);
	border: rgb(0, 0, 0) 3px solid;
	border-radius: 7px;
	transition: height 1s;
}
.cont1__opciones__desplegar5{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: auto;
	color: #04040C;
	background: linear-gradient(to bottom, rgb(255, 255, 255) ,var(--colorRosa));
	height: 80px;
	font-size: 40px;
	font-family: Tiza, Viner Hand ITC;
	font-weight: bold;
	cursor: pointer;
	z-index: 500;
}
/*----------------------------------------*/
/*---------------- FOOTER ----------------*/
/*----------------------------------------*/
.Foot{
	background: var(--colorRosa);
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: flex-start;
}
.foot__div1{
	margin: auto 100px auto 50px;
}
.foot__div2{
	margin: auto 100px auto 0px;
}
.foot__div3{
	margin: auto 0px auto 0px;
}
.Foot__ul{
	list-style: none;
	color: rgb(255, 255, 255);
	font-family: Footlight MT Light;
	font-size: 20px;	
}
.Foot__ul__li{
	margin: 15px;
}
/*----------------------------------------*/
/*-------------- FIN FOOTER --------------*/
/*----------------------------------------*/